//Disabling default settings
@import "Variables";
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  color: $FontColor;
}

body {
  min-width: 480px;
  max-width: $defaultPageWidth;
  font-size: $defaultFontSize;
  font-family: $Roboto, $Raleway, sans-serif;
  color: $FontColor;
  letter-spacing: $defaultLetterSpacing;
  margin: 0 auto;
}

.link {
  line-height: 16px;
  transition: 250ms ease-in-out;

  &:hover {
    color: $LightBlue;
    fill: $LightBlue;
  }
  &__nav {
    position: relative;
    &-active {
      &::after {
        content: "";
        position: absolute;
        height: 4px;
        border-radius: 2px;
        left: 0px;
        right: 0px;
        bottom: -33px;
        background: $LightBlue;
      }
    }
  }
}
