$defaultPageWidth: 1600px;
$secondaryPageWidth: 1170px;

$defaultFontSize: 14px;

$Roboto: "Roboto";
$Raleway: "Raleway";

$defaultLetterSpacing: 0.02em;

$sectionTitlePadding: 94px 0px 50px 0px;

$defaultRadius: 4px;
