header {
  display: flex;
  height: 80px;
  max-width: $secondaryPageWidth;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  font-weight: 500;
  border-bottom: 1px solid #ececec;
}

.nav {
  &__list {
    display: flex;
    align-items: center;
    li:nth-child(2) {
      padding: 0px 46px 0px 46px;
    }
  }
}

.contact {
  display: flex;
  gap: 30px;
  a {
    color: $FontColor2;
    fill: $FontColor2;
    svg {
      position: relative;
      top: 2px;
    }
  }
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  svg {
    fill: $FontColor;
    &:hover {
      fill: $LightBlue;
    }
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  font-size: 40px;
  color: $FontColor;
  background-color: #ffffff;
  z-index: 999;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.mobile-menu .link {
  padding: 10px;
  color: $FontColor;
  text-decoration: none;
}

@media (min-width: 770px) {
  .menu-toggle {
    display: none;
  }
}

.menu-toggle:hover,
.menu-toggle:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and(max-width: 1200px) {
  header {
    margin-left: 15px;
    margin-right: 15px;
  }

  .nav {
    &__list {
      li:nth-child(2) {
        padding: 0px 60px 0px 60px;
      }
    }
  }
  .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and(max-width: 768px) {
  header {
    .contact,
    .nav {
      display: none;
    }
  }
}
