@import "../Variables";

.section {
  &__title {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
    padding-bottom: 50px;
  }
}

.section {
  &:first-child {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &:nth-child(4) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and(max-width: 768px) {
  .section {
    &:first-child {
      padding-top: 60px;
      padding-bottom: 45px;
    }

    &:nth-child(3) {
      padding-top: 60px;
    }
  }
}
