.modal {
  position: absolute;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 1s cubic-bezier(0.4, 0, 0.2, 1),
    opacity 450ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: transform, visibility, opacity;
  transition-duration: 500ms, 1s, 400ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1),
    cubic-bezier(0.4, 0, 0.2, 1), cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0s, 0s, 0s;

  z-index: 3;

  &__checkbox {
    display: flex;
    justify-content: center;
    padding-top: 20px;

    &-link,
    &-link:hover,
    &-link:focus {
      color: $LightBlue;
      text-decoration: underline;
    }

    &-input {
      appearance: none;
    }
    &-label {
      position: relative;
      font-size: 14px;
      line-height: calc(24 / 14);
      letter-spacing: 00.03em;
      left: 0px;
      &::before {
        content: "";
        display: block;
        position: absolute;
        border: none;
        height: 16px;
        width: 16px;
        left: -25px;
        top: 2px;
        background-image: url("../images/unchecked.svg");
        cursor: pointer;
      }
    }
    &__input {
      &:checked + .checkbox__label::before {
        border: none;
        height: 16px;
        width: 16px;
        background-image: url("../images/checked.svg");
      }
    }
  }

  &__button--submit {
    display: flex;

    margin-top: 30px;
    padding: 10px 76px 10px 76px;
    background-color: $LightBlue;
    color: $white;
    line-height: calc(30 / 16);
    font-weight: 700;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
  }

  &__is-hidden {
    transform: scaleY(0);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  &__window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $white;
    width: 528px;
    height: 581px;
    border-radius: 4px;
  }

  &__form {
    padding: 40px 40px 40px 40px;
  }

  &__form {
    label {
      display: block;
      font-size: 12px;
      position: relative;
      color: $FontColor2;
    }
    h2 {
      text-align: center;
      padding-bottom: 12px;
    }
  }

  &__input {
    position: relative;
    width: 100%;
    height: 2.5rem;
    padding-inline: 2.1rem;
    margin-top: 0.25rem;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    transition: cubic-bezier(0.4, 0, 0.2, 1);
    transition-property: fill, border;
    &:focus {
      outline: none;
      border: 1px solid $LightBlue;
    }

    &:focus + svg {
      fill: #2196f3;
    }
  }

  &__form {
    textarea {
      resize: none;
      outline: none;
      margin-top: 4px;
      width: 100%;
      height: 120px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding: 12px 0px 0px 16px;
      transition: cubic-bezier(0.4, 0, 0.2, 1);
      transition-property: fill, border;
      &::placeholder {
        color: $LightGray;
      }
      &:focus {
        border: 1px solid $LightBlue;
      }
    }
  }
}

.user-icon {
  position: absolute;
  left: 13px;
  bottom: 3px;
}

.phone-icon {
  position: absolute;
  left: 13px;
  bottom: 3px;
}

.mail-icon {
  position: absolute;
  left: 13px;
  bottom: 3px;
}
